<nav *ngIf="!shopmodus" class="navbar navbar-toggleable-md navbar-light bg-faded shop-view-hide">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <label class="navbar-brand">{{pagetitle}}</label>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lijstjes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shops" routerLinkActive="active">Winkels</a>
      </li>
    </ul>
    <!-- START LOGIN CONTROL -->
    <!-- <button class="navbar-btn btn btn-primary not-login-only" onclick="$(document.body).addClass('loggedin')"> 
          Login
      </button>
    <span class="navbar-text login-only">
          Logged in as User...
      </span> -->
    <!-- END LOGIN CONTROL -->
  </div>
</nav>
